li {
    text-align: center;
    color: cadetblue;
    background-color: burlywood;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body {
 background-color: burlywood;
 font-family: Verdana, Geneva, Tahoma, sans-serif;



}